body {
            font-family: Arial, sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #bb0a1e;
            color: white;
            padding: 20px;
            text-align: center;
        }

        header img {
            max-width: 100px;
        }

        .container {
            padding: 20px;
        }

        h2 {
            color: red;
        }

        .team-history, .team-achievements, .team-schedule, .players {
            margin-bottom: 30px;
        }

        .players img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .player-card {
            display: inline-block;
            text-align: center;
            margin: 10px;
        }

        .schedule-table {
            width: 100%;
            border-collapse: collapse;
        }

        .schedule-table th, .schedule-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        .schedule-table th {
            background-color: #c8102e;
            color: white;
        }
